<div class="container">
  <nav class="navigation" fxLayout ="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch" fxLayoutGap.xs="5px">

        <b fxFlex fxFlex.xs = "10" fxLayoutAlign.xs="center" class="decoration" > MedPlus </b>

    <a mat-stroked-button routerLink="/home" fxFlex="10">Home</a>
      <a *ngIf="isUserLoggedIn" mat-stroked-button routerLink="/orderhistory" fxFlex="10">Dashboard</a>
      <a *ngIf="isUserLoggedIn" mat-stroked-button routerLink="/update" fxFlex="10">Update</a>
      
      <div fxFlex="50" fxFlexOrder.xs ="6">
      <form (ngSubmit) = "doSearch()" class="navigationsearch" ngNativeValidate> 
          <input type="text" [(ngModel)]= "searchterm" name ="searchterm" placeholder="Search Products.." required>
          <button type="submit"> 
           <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>
  
      <a *ngIf="!isUserLoggedIn" mat-stroked-button fxFlex="10" routerLink="/register">Register</a>
      <a *ngIf="!isUserLoggedIn" mat-stroked-button fxFlex="10" routerLink="/login">Login</a>
      <a *ngIf="isUserLoggedIn" mat-stroked-button fxFlex="10" routerLink="/logout">Logout</a>
      
  </nav>
  </div>
  
