.navigation a
{

    margin: 0 1em;
    align-content: center;
}

.navigationsearch {
    display: grid;
    grid-template-columns:3fr 1fr;
    margin: 0 1em;
    align-content: center;

}
.decoration {
    text-decoration: overline underline;
    text-decoration-line: overline underline;
    text-decoration-color: brown;
}

.container {
    padding: 0 1.2em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;

  }
