<div class="footerDiv" routerLinkActive="active">
    <div class="footerInfo">
      <p style="font-weight: bold;"> Contact us</p>
      <p> Phone : 1-800-243-0000</p>
      <p> Email : demo@gmail.com</p>
    </div>
    <div class="footerInfo">
        <p style="font-weight: bold;" > Credit Card Partners</p>
        <p> Secured 256-bit encryption</p>
        <img src="assets/credit_card.png" class="img" alt="?" ng-click="">
      </div>

    <div class="footerInfo">
        <p style="font-weight: bold;"> Company</p>
        <p> Med +</p>
        <p> Head Quarters :Halifax, Canada</p>
      </div>

      <div class="footerInfo">
          <p style="font-weight: bold;">Help</p>
          <p> Please visit below link</p>
          <p> https://med+official.ca</p>
        </div>
  </div>
