body{
    
  font-family: 'Raleway', 'Arial';
  color: #000;
  }

  .fa {

font-size: 3vw;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {

color: white;
}

.fa-twitter {
color: white;
}

.fa-instagram {
color: white;
}
.fa-linkedin {
color: white;
}

img{
width: 50%; 
height:auto;
}
.half{
width: 50%;
}
.checked {
  color: orange;
}