<!-- Default form login -->
<div class="main">
  <div class="header">
    <p class="h4 text-center mb-4" style="margin-top: 2%;">Login into your account</p>
  </div>
  <!-- Default input email -->
  <div class="login">
    <form action= "https://web.cs.dal.ca/~karthick/csci5709/a2/index.html">
      <div class="form-group row" style="margin-top: 4%;margin-left: 15%;">
        <label class="col-1 col-form-label">Name</label>
        <input class="form-control" type="text" maxlength="6" id="name" pattern="[^[A-Za-z]+$]{1,6}" title="Only letters allowed" required>
      </div>

      <br>

      <div class="form-group row" style="margin-top: 4%; margin-left: 15%;">
        <label class="col-1 col-form-label">Password</label>
        <input class="form-control" type="text" maxlength="9" id="email" pattern="[^[A-Za-z0-9]+$]{1,9}" title="Only letters and numbers allowed" required>
      </div>
      <br>
      <div class="text-center mt-4" style="margin-bottom: 5%;">
        <button class="btn btn-success" type="submit">Login</button>
      </div>
    </form>
  </div>
  <!-- Default form login -->
</div>
