.container{
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0 1.2em;
  margin: auto;
  margin-top: 6em;
  margin-bottom: 18em;
}
.container > *{
  width:80%;
}
button{
  margin-top: 4em;
  background-color: turquoise;
  margin-left: 3em;
}

mat-card {
  background-color: aliceblue;
}
mat-form-field{
  margin-top: 3em;
  width: 70%;
  margin-left: 3em;
}


