<div class="infoDiv" routerLinkActive="active">
  <div class="imageDiv">
    <img src="assets/product.png">
  </div>
  <div class="prodDiv">
    <p>BAYER ASPIRIN</p>
    <hr size=20px color=grey/>
    <p>Price : $1234</p>
    <p>Description : Bayer® Aspirin is available in a variety of doses and forms. Get more information about these products
      and be sure to talk to your doctor before you begin an aspirin regimen</p>
    <div class="prodButton">
      <button type="button" class="btn btn-success">Buy now</button>
    </div>
    <div class="prodButton">
      <button type="button" class="btn btn-warning" style="color: white;">Add to cart</button>
    </div>
    <div class="prodButton">
      <button type="button" class="btn btn-primary" style="color: white;" routerLink="/feedback" >Feedback</button>
    </div>
  </div>
</div>
