.prodDiv {
    max-width: 30%;
    padding: 0 4px;
    display: inline-block;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 8%;
    cursor: pointer;
  }

  .prodDiv p{
    margin-top: 5%;
    font-weight: bold;
  }

  .imageDiv {
    padding: 0 4px;
    display: inline-block;
    margin-left: 6%;
    margin-top: 2%;
    cursor: pointer;
  }

  .imageDiv p{
    margin-top: 5%;
  }
  .infoDiv{
    width: 100%;
  }

  .prodButton{
    display: inline;
    margin-right: 10%;
  }

  body {
    padding-top: 70px;
  }
  .btn-grey{
      background-color:#D8D8D8;
    color:#FFF;
  }
  .rating-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px 15px 20px 15px;
    border-radius:3px;
  }
  .bold{
    font-weight:700;
  }
  .padding-bottom-7{
    padding-bottom:7px;
  }

  .review-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px;
    border-radius:3px;
    margin-bottom:15px;
  }
  .review-block-name{
    font-size:12px;
    margin:10px 0;
  }
  .review-block-date{
    font-size:12px;
  }
  .review-block-rate{
    font-size:13px;
    margin-bottom:15px;
  }
  .review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
  }
  .review-block-description{
    font-size:13px;
  }
