<div class="container" fxLayout ="column" fxLayoutGap = "5px">
    <mat-card  *ngFor="let order of listOrderHistory">
        <mat-card-header>
          <mat-card-title> Product:  {{order.product_name}}</mat-card-title>
          <mat-card-subtitle>Order Number : {{order.order_number}}</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content fxLayout ="row" fxLayout.xs ="column" fxLayoutGap="5px">
          <span fxFlex="25%" fxFlex.xs ="100%">
          Order Date : {{order.order_timestamp}}
          </span>
          <span fxFlex="25%" fxFlex.xs ="100%"> 
          Order Delivery Date: {{order.order_deliverydate}}
          </span>
          <span fxFlex="25%" fxFlex.xs ="100%">
            Quantity : {{order.order_quantity}}
          </span>
          <span fxFlex="25%" fxFlex.xs ="100%">
            Price : $ {{order.order_price}}
          </span>
        </mat-card-content>
        <mat-card-actions fxLayout ="column" fxLayoutAlign="center">
           
                      <button mat-stroked-button (click)="DeleteOrderHistory(order)"> Delete
                      <mat-icon>
                          delete             
                      </mat-icon>  
                      </button>
                      

        </mat-card-actions>
      </mat-card>
      
    </div>
