<div class="container">
    <mat-toolbar fxLayout="row" fxLayout.xs="column" fxLayoutGap ="5px">
            <mat-toolbar-row >
              <button mat-stroked-button color="primary" fxFlex="20%%" fxFlex.xs="100%" routerLink="/home">Home
                <mat-icon>home</mat-icon>
              </button>

            </mat-toolbar-row>
            <mat-toolbar-row>
              <button mat-stroked-button color="primary" fxFlex="20%%" fxFlex.xs="100%" routerLink="/register">Register
              </button>
            </mat-toolbar-row>
            <mat-toolbar-row>
              <button mat-stroked-button color="primary" fxFlex="20%%" fxFlex.xs="100%" routerLink="/orderhistory">Order History</button>
            </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-stroked-button color="primary" fxFlex="20%%" fxFlex.xs="100%" routerLink="/product">Product</button>
      </mat-toolbar-row>

      <mat-toolbar-row>
          <button mat-stroked-button color="primary" fxFlex="20%%" fxFlex.xs="100%" routerLink="/cart">Add To Cart</button>
        </mat-toolbar-row>
  
        </mat-toolbar>
    </div>
