<!-- <div class="container"> -->
<!-- <app-search></app-search> -->
<!-- <app-carousel></app-carousel>
<section id="sectiona">
        <div class="container">
            <div class="content-title">
                <h2>One Stop for all medical needs</h2>
            </div>
            <div class="content-text">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio incidunt velit adipisci consequuntur,
                    deleniti blanditiis! Porro ducimus dicta facilis eveniet non ut laborum nihil alias quisquam s
                    imilique perspiciatis distinctio velit debitis quidem sunt excepturi architecto deserunt
                    voluptate itaque, ad consectetur inventore nostrum accusamus hic. Facilis quis reprehenderit
                    eum quidem. Provident nisi hic minus ex, natus ea fugiat veritatis iure quibusdam id consequatur
                    mollitia rerum quo in sint voluptatibus
                    commodi perspiciatis illum. Repudiandae, quisquam assumenda? Adipisci veritatis a enim
                    sequi alias, velit deserunt sint aliquid cupiditate harum sed reprehenderit? Quisquam consequatur
                     mollitia ea eveniet velit odit a laboriosam iusto impedit dolorum?</p>
            </div>
        </div>
    </section>
<app-home-card></app-home-card> -->
<!-- </div> -->

<div class = "prodCarousel" >
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true"  [animation]="'slide'">
      <!--First slide-->
      <mdb-slide>
          <img class="d-block w-100" src="assets/images/home/final1.png" alt="First slide">

      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
          <img class="d-block w-100 h-30" src="assets/images/home/final2.jpg" alt="Second slide">

      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
          <img class="d-block w-100 h-30" src="assets/images/home/final3.jpg" alt="Third slide">

      </mdb-slide>
      <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
  </div>

  <div class="infoDiv">
      <div class="tabDiv">
          <p style="size: 5%; font-weight: bold; text-align: center; padding-bottom: 60%; "> Sore Throat</p>
          <p style="size: 5%; font-weight: bold; "> Price</p>

      </div>
      <div class="tabDiv">
        <img src="assets/images/home/tab4.jpg" class="img" alt="?" >
          <p>$46.99</p>
      </div>
      <div class="tabDiv">
          <img src="assets/images/home/tab1.jpg" class="img" alt="?">
          <p>$46.99</p>
      </div>
      <div class="tabDiv">
          <img src="assets/images/home/tab2.jpg" class="img" alt="?">
          <p>$46.99</p>
      </div>

      <div class="tabDiv">

          <img src="assets/images/home/tab3.jpg" class="img" alt="?">
          <p>$46.99</p>

      </div>
  </div>

  <div class="infoDiv">
      <div class="tabDiv">
          <p style="size: 5%; font-weight: bold; text-align: center; padding-bottom: 80%; "> Eye Drops</p>
          <p style="size: 5%; font-weight: bold; "> Price</p>
      </div>
      <div class="tabDiv">
          <img src="assets/images/home/eyeDrops1.png" class="img" alt="?" >
          <p class = "eyeDrops">$46.99</p>

      </div>
      <div class="tabDiv">
          <img src="assets/images/home/eyeDrops2.jpg" class="img" alt="?">
          <p class = "eyeDrops">$46.99</p>

      </div>
      <div class="tabDiv">
          <img src="assets/images/home/eyeDrops3.jpg" class="img" alt="?">
          <p class = "eyeDrops">$46.99</p>

      </div>
      <div class="tabDiv">
          <img src="assets/images/home/eyeDrops4.jpg" class="img" alt="?" onclick="">
          <p class = "eyeDrops">$46.99</p>
      </div>
  </div>
  <div>
  </div>




